<section class="container">
  <div class="slider-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        {{#each data}}
          <div class="swiper-slide">
            <div class="slider-container">
              <img
                src="{{{this.bannerImageUrl}}}"
                alt="{{{this.bannerImageAlt}}}"
              />
            </div>
          </div>
        {{/each}}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
{{#each categories}}
  <section class="container category-wrapper">
    <div class="row">
      <div class="col-4 col-xs-4 image-content">
        <img src="{{{this.imageUrl}}}" alt="{{{this.description}}}" />
      </div>
      <div class="col-8 col-xs-8">
        <div class="description-content">
          <h1>{{{this.name}}}</h1>
          <p>{{{this.description}}}</p>
          <a href="">Explore {{{this.key}}}</a>
        </div>
      </div>
    </div>
  </section>
{{/each}}