<div class="container">
  <div class="row">
    <div class="col-3 d-none">
      <aside class="sidebar-wrapper">
        {{#each categories}}
          <div class="row">
            <div class="col-12 link-wrapper">
              <a href="">{{{this.name}}}</a>
            </div>
          </div>
        {{/each}}
      </aside>
    </div>
    <div class="col-9 col-xs-12">
      <div class="row" style="margin-top:10px;margin-left:10px">
        {{#each products}}

          <div class="col-3 col-xs-12" style="padding:5px">
            <div class="product-card">
              <h3>{{{this.name}}}</h3>
              <div class="image-wrapper">
                <img src="{{{this.imageURL}}}" alt="{{{this.imageURL}}}" />
              </div>
              <div class="desc-wrapper">
                <p>{{{this.description}}}</p>
              </div>
              <div class="row">
                <div class="col-xs-6 col-6">
                  <p>MRP {{{this.price}}}</p>
                </div>
                <div class="col-xs-6 col-6">
                  <a class="buyNow-btn" href="">Buy Now</a>
                </div>
              </div>
            </div>
          </div>

        {{/each}}
      </div>
    </div>
  </div>
</div>